body i{
    color: aliceblue;
    font-size: 70px;
}

.navbar-dark{
    background-color: #333;
}

#main-title{
    text-align: center;
    margin: 15px 0 30px;
}

/* Página principal */

#contacts-table{
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead{
    color: #FFF;
    background-color: darkgray;   
}

.actions{
    text-align: right;
    width: 150px;
}

.actions i{
    font-size: 18px;
    margin-right: 5px;
}


/* Estilizando icons */

.check-icon{
    color: #1E7E34;
}

.edit-icon{
    color: #007BFF;
}

.delete-icon{
    color: #BD2130;
}

.delete-form {
    display: inline-block;
}

.delete-form button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.col-id{
    font-weight: bold;
}

#empty-list-text{
    text-align: center;
}

#msg{
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Pagina show / Contato individual */

#view-contact-container{
    max-width: 500px;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}

#back-link-container{
    display: block;
    width: 500px;
    margin: 30px auto 0;
}

#back-link, .btn-edit{
    border: 2px solid #333;
    color: #333;
    border-radius: 4px;
    padding: 5px;
}

#back-link:hover, .btn-edit:hover{
    text-decoration: none;
    color: #FFF;
    background-color: #333;
}

/* Pagina formulário */

#create-form, #edit-form{
    max-width: 500px;
    margin: 0 auto;
}

/* Adicionar contato */
#create-form,
#edit-form {
  max-width: 500px;
  margin: 0 auto;
}

/* Visualizar contato */
#view-contact-container {
  max-width: 500px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

/* MOBILE */

@media(max-width: 480px) {

  #home-link {
    display: none;
  }

}